<div class="container">
            <div class="row">
                    <div class = "col-xs-8"></div>
                
<body background="pic.png">
<center><h2>Contact details</h2></center>
<center>
<div class="center">
        <div class = "col-xs-4">
</div>
<div class = "col-xs-4"><a href="https://www.facebook.com/muthyala.karthik.20" ><img src="facebook.png" style="width:50px;height:50px;"/> </a>

<a href="https://www.linkedin.com/in/muthyala-karthik-reddy-884749119/"><img src="Link.png" style="width:50px;height:50px"/> </a>
<a href="https://github.com/karthikmuthyala"><img src="Git.png" style="with:50px;height:50px"/> </a>
<a href="https://bitbucket.org/S533627/"><img src="Bit.png" style="with:50px;height:50px"/> </a>


<% include header %>
</div>
<div class = "col-xs-2">
</div>
<div class = "col-xs-2">
</div>
<div class = "col-xs-2"></div>
</div>
</center>
</div>
<center>
<div class="container">
<div class="row">
        <div class = "col-xs-4"></div>
        <div class = "col-xs-4">
<form>
<p>First Name<sup style="color:red">*</sup></p>
<input type="text"  name="FirstName" value="Karthik" required><br>
<p>Last Name<sup style="color:red">*</sup></p>
<input type="text"  name="Lastname" value="Muthyala" required><br>
<p>Gender<sup style="color:red">*</sup></p>
<input type="radio"  name="Male" value="Male" checked>Male<br>
<input type="radio"  name="Female" value="Female">Female<br><br>
<p>Any questions?</p><br>
<textarea style="height:100px;width:450px"></textarea><br>
<button type="button" name="Submit" onclick="alert('Thank you! your response is recorded')">Submit</button>
</form>
</div>
</div>
</div>
</center>
<% include footer %>