<% include header %>
<body>

    <div class="container">
        <div class="row">
            <div class = "col-xs-8">
                   
        <main>
            <header>
            <h3>KARTHIK REDDY MUTHYALA(S533627)
            </h3>
            </header>
            <article>
            <h6 style='display:none;'>dummy</h6>
            <section id='present-section'>
            <h3 class='section-header'>About Me </h3>
            <p> I am a new graduate student at Northwest Missouri State University for Fall 2018 batch working on my  Masters in Applied Computer Science.</p>
            </section>
            <section id='past-section'>
            <h3 class='section-header'>BACKGROUND</h3>
           <p>I am from India and  completed my undergrad from Lovely Professional University.I worked for Accenture as a Business Operative Executive for half a year.My hobbies include Playing and watching cricket,playing lan games and watching web series..etc.</p>
            </section>
            <section id='future-section'>
            <h3 class='section-header'>PLANS</h3>
            <p>I have keen interest to learn front and back-end development which i can use to build  my future.
            </p>
            </section>
            <section class='list'>
            <h4 class='section-header'>SCHEDULE
            </h4>
            <ol >
               <li> Advanced Topics In Database Systems(Mon-Wed-Fri : 11:00 am - 11:50 am)</li>
               <li> Development Web Apps Ans Services (Mon-Wed : 12:00 pm - 12:50 pm)</li>
               <li> Object Oriented Programming (Tue-Thur : 08:00 am - 09:15 am)</li>
               <li> Object Oriented Programming Lab (Thur : 03:35 pm - 05:35 pm)</li>
            </ol>
            </section>
            </article>
            <aside><h3 class='aside-header'>Web Apps Assignment
            </h3>
            </aside>
        </main>
        <footer>
       <h3>END</h3>
       </footer>
        </body>
   
       
       </div>
        <div class = "col-md-4">
               <img src = "K1.png" class = "img-circle" id = "pic">
   
               <div>
                   <Section id = "Youtube">
                           
                           <iframe width="460" height="215" src="https://www.youtube.com/embed/0afZj1G0BIE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="float:right;"></iframe>
                           </Section>
                       </div>
             </div>
       
   <% include footer %>